@import "./variables.scss";

// 基础模态框样式
.base-modal {
    .ivu-modal{
        top: 20px;
        .ivu-modal-body {
            height: $baseModalHeight;
            overflow-y: auto;
        }
    }
}