@font-face {
    font-family: "iconfont";
    src: url('./../iconfonts/iconfont.eot?t=1593675693186'); /* IE9 */
    src: url('./../iconfonts/iconfont.eot?t=1593675693186#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../iconfonts/iconfont.woff?t=1593675693186') format('woff'),
    url('./../iconfonts/iconfont.ttf?t=1593675693186') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./../iconfonts/iconfont.svg?t=1593675693186#iconfont') format('svg'); /* iOS 4.1- */
}
  
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e602";
}

.icon-theme:before {
  content: "\e66f";
}

.icon-edit:before {
  content: "\e88d";
}

.icon-folder:before {
  content: "\e65a";
}

.icon-app:before {
  content: "\e660";
}

.icon-email:before {
  content: "\e608";
}

.icon-message:before {
  content: "\e74c";
}

.icon-password:before {
  content: "\e626";
}

.icon-search:before {
  content: "\e607";
}

.icon-delete:before {
  content: "\e721";
}

.icon-user:before {
  content: "\e60e";
}

.icon-add:before {
  content: "\e60f";
}
