$fontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
// 主色
$primary: #C14253;
$lightPrimary: #C25D6B;
$darkPrimary: #B53647;

// 辅助色
$info: #2DB7F5;
$success: #19BE6B;
$warning: #FF9900;
$error: #ED4014;

// 中性色
$title: #17233D;
$content: #515A6E;
$subColor: #808695;
$disabled: #C5C8CE;
$border: #DCDEE2;
$divider: #E8EAEC;
$background: #F8F8F9;
$hyperlink: #2D8CF0;
$placeHolder: rgba($subColor, .8);

// 基础模态框高度
$baseModalHeight: 600px;
