@import "./variables.scss";

// 基础模态框样式
.heart-base-modal {
    overflow: hidden;
    .ivu-modal{
        top: 20px;
        // 模态框头部
        .ivu-modal-header {
            height: 40px;
            // 标题
            .title {
                color: $title;
                font-size: 18px;
            }
            // 按钮组
            .button-group {
                position: absolute;
                top: 0;
                right: 0;
                // 按钮默认样式
                .ivu-btn {
                    box-shadow: none;
                    color: $content;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                }
                // 最大化和最小化按钮
                .fullscreen-button:hover,.reset-screen-button:hover,.hide-button:hover {
                    background-color: $background;
                }
                // 关闭按钮
                .close-button:hover {
                    background-color: $error;
                    color: #ffffff;
                }
            }
        }
        // 模态框内容部分
        .ivu-modal-body {
            // 这里设定模态框高度
            // 想要修改就写个样式覆盖这个值
            height: $baseModalHeight;
            overflow-y: auto;
        }
    }
}

// 滚动条整体样式
::-webkit-scrollbar {
    width: 2px;
}
// 滚动条滑块
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $primary;
}
// 滚动条轨道
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: white;
}

// 修改按钮默认样式
.ivu-btn:focus {
    box-shadow: 0 0 3px $primary;;
}
.ivu-btn-default, .ivu-btn-dashed {
    border-color: $primary;
    color: $primary;
    &:hover {
        border-color: $lightPrimary;
        color: $lightPrimary;
    }
}
.ivu-btn-default.active, .ivu-btn-default:active, .ivu-btn-dashed.active, .ivu-btn-dashed:active {
    border-color: $primary;
    color: $primary;
    box-shadow: 0 0 2px $primary;
}
.ivu-btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $lightPrimary;
        border-color: $lightPrimary;
    }
}
.ivu-btn-primary.active, .ivu-btn-primary:active {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 0 2px $primary;
}
.ivu-btn-text:hover {
    color: $lightPrimary;
}
.ivu-btn-text.active, .ivu-btn-text:active {
    color: $primary;
}

// 顶部进度条颜色
#nprogress .bar {
    background: $primary !important;
}