@font-face {
    font-family: "iconfont";
    src: url('./../iconfonts/iconfont.eot?t=1593675693186'); /* IE9 */
    src: url('./../iconfonts/iconfont.eot?t=1593675693186#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../iconfonts/iconfont.woff?t=1593675693186') format('woff'),
    url('./../iconfonts/iconfont.ttf?t=1593675693186') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./../iconfonts/iconfont.svg?t=1593675693186#iconfont') format('svg'); /* iOS 4.1- */
}
  
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 退出全屏
.icon-quit-fullscreen:before {
  content: "\e79d";
}

// 全屏
.icon-to-fullscreen:before {
  content: "\e61f";
}

// 图片
.icon-image:before {
  content: "\e66a";
}

// 个性化
.icon-individuation:before {
  content: "\e7e8";
}

// 右箭头
.icon-arrow-right:before {
  content: "\e765";
}

// 锁定时登录的用户图标
.icon-user-lock:before {
  content: "\e605";
}

// 找不到查找内容
.icon-not-found:before {
  content: "\e667";
}

// 404
.icon-404:before {
  content: "\e61d";
}

// 添加桌面快捷方式
.icon-add-shotcut:before {
  content: "\e63f";
}

// 取消模态框最大化
.icon-reset-screen:before {
  content: "\e604";
}

// 模态框最大化
.icon-fullscreen:before {
  content: "\e610";
}

// 模态框最小化
.icon-hide:before {
  content: "\e669";
}

// 模态框关闭
.icon-close:before {
  content: "\e603";
}

// 锁定
.icon-lock:before {
  content: "\e602";
}

// 主题
.icon-theme:before {
  content: "\e66f";
}

// 修改密码
.icon-edit:before {
  content: "\e88d";
}

// 文件夹
.icon-folder:before {
  content: "\e65a";
}

// 左下角的开始按钮
.icon-app:before {
  content: "\e660";
}

// 邮件
.icon-email:before {
  content: "\e608";
}

// 消息
.icon-message:before {
  content: "\e74c";
}

// 密码
.icon-password:before {
  content: "\e626";
}

// 搜索
.icon-search:before {
  content: "\e607";
}

// 删除
.icon-delete:before {
  content: "\e721";
}

// 用户
.icon-user:before {
  content: "\e60e";
}

// 新增
.icon-add:before {
  content: "\e60f";
}
