$fontFamily: "Avenir","Tahoma","Arial","PingFang SC,Lantinghei SC","Microsoft Yahei,Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei",Helvetica,sans-serif;
// 主色在各主题的scss里面

// 辅助色
$info: #2DB7F5;
$success: #19BE6B;
$warning: #FF9900;
$error: #ED4014;

// 中性色
$title: #17233D;
$content: #515A6E;
$subColor: #808695;
$disabled: #C5C8CE;
$border: #DCDEE2;
$divider: #E8EAEC;
$background: #F8F8F9;
$hyperlink: #2D8CF0;
$placeHolder: rgba($subColor, .8);

// 桌面底部栏高度
$footerHeight: 45px;
