@import "./variables.scss";

// 红色主题
$primary-red: #C14253;
$lightPrimary-red: #C25D6B;
$darkPrimary-red: #B53647;

.red {
    .heart-base-modal {
        .ivu-modal {
            .ivu-modal-content {

                // 模态框头部
                .ivu-modal-header {

                    // 标题
                    .title {
                        color: $title;
                    }

                    // 按钮组
                    .button-group {

                        // 按钮默认样式
                        .ivu-btn {
                            color: $content;
                        }

                        // 最大化和最小化按钮
                        .fullscreen-button:hover,
                        .reset-screen-button:hover,
                        .hide-button:hover {
                            background-color: $background;
                        }

                        // 关闭按钮
                        .close-button:hover {
                            background-color: $error;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    // 开始按钮
    .start-button {
        background-color: rgba($color: $background, $alpha: 0.9);
        color: $primary-red !important;

        &:hover {
            background-color: $primary-red;
            color: white !important;
        }
    }

    // 底部栏打开模块的小图标
    .tab-container {
        .ivu-dropdown {
            .tab-icon {
                color: white;

                // 底下的小线条
                &::after {
                    background-color: $darkPrimary-red;
                }

                &:hover {
                    background-color: rgba($color: white, $alpha: 0.2);
                }
            }

            // 选中样式
            .tab-icon-active {
                background-color: rgba($color: white, $alpha: 0.4);

                &:hover {
                    background-color: rgba($color: white, $alpha: 0.6) !important;
                }
            }
        }
    }

    // 右下角小图标
    .icon-group {
        .show-destop {
            border-left: 1px solid $lightPrimary-red;

            &:hover {
                background-color: rgba($color: white, $alpha: 0.5);
            }
        }
    }

    // 开始菜单
    .start-box {
        .menu-container {
            background-color: rgba($color: white, $alpha: 0.8);

            // 菜单区域
            .menu-box {
                background-color: rgba($color: white, $alpha: 0);

                // 菜单树
                .menu-tree {
                    background-color: rgba($color: white, $alpha: 0);

                    .ivu-menu-item-active:not(.ivu-menu-submenu) {
                        color: $title !important;

                        &:hover {
                            background-color: rgba($color: $lightPrimary-red, $alpha: 0.3) !important;
                            color: $title !important;
                        }
                    }

                    .ivu-menu-item {
                        span {
                            color: white;
                        }
                    }

                    .ivu-menu-item,
                    .ivu-menu-submenu-title {
                        color: $title;

                        &:hover {
                            background-color: rgba($color: $lightPrimary-red, $alpha: 0.3);
                            color: $title;
                        }
                    }
                }
            }

            // 开始菜单右侧用户操作区域
            .user-info {

                .user-operation-box {

                    .user-operation {

                        .operations {
                            color: $content;
                            background-color: rgba($color: white, $alpha: 0);

                            .ivu-menu-item-active:not(.ivu-menu-submenu) {
                                color: $title !important;
                                background: none !important;

                                &:hover {
                                    background-color: rgba($color: $lightPrimary-red, $alpha: 0.3) !important;
                                    color: $title !important;
                                }
                            }

                            .ivu-menu-item,
                            .ivu-menu-submenu-title {

                                &:hover {
                                    background-color: rgba($color: $lightPrimary-red, $alpha: 0.3);
                                    color: $title;
                                }
                            }
                        }

                        .logout-button {
                            background-color: rgba($color: white, $alpha: 0);
                            color: $primary-red;
                            border-color: $primary-red;

                            &:hover {
                                background-color: rgba($color: $primary-red, $alpha: 0.9);
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    // 锁定界面
    .lock {

        .login-form-box {

            .login-form-lock {

                .form-content {
                    color: white;

                    .form-lock {

                        .ivu-input-suffix {

                            // 登录按钮
                            button {

                                .icon-arrow-right {
                                    color: white;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    // 登录页面表单
    .login-form {
        background-color: rgba($color: white, $alpha: 0.7);

        .ivu-form {
            .ivu-form-item {
                .ivu-form-item-content {
                    .ivu-input-prefix {
                        i {
                            color: rgba($color: $primary-red, $alpha: 0.7);
                        }
                    }
                }
            }
        }
    }

    // 可选则菜单样式
    .select-menu-tree {
        background-color: white;

        .ivu-menu-item-active:not(.ivu-menu-submenu) {
            color: $primary-red !important;
            background: rgba($color: $darkPrimary-red, $alpha: 0.1) !important;

            &::after {
                background: $darkPrimary-red !important;
            }
        }

        .ivu-menu-item,
        .ivu-menu-submenu-title {
            color: $title;

            &:hover {
                background-color: rgba($color: $lightPrimary-red, $alpha: 0.3);
                color: $title;
            }

            span {
                color: white;
            }
        }

    }

    // 404页面
    .not-found {
        color: $primary-red;
    }

    // 滚动条滑块
    ::-webkit-scrollbar-thumb {
        background: $primary-red;
    }

    // 滚动条轨道
    ::-webkit-scrollbar-track {
        background: white;
    }

    // -------------------修改ViewUI组件默认样式 start---------------//
    // 修改button默认样式
    .ivu-btn:focus {
        box-shadow: 0 0 3px $primary-red;
    }

    .ivu-btn-default,
    .ivu-btn-dashed {
        border-color: $primary-red;
        color: $primary-red;

        &:hover {
            border-color: $lightPrimary-red;
            color: $lightPrimary-red;
        }
    }

    .ivu-btn-default.active,
    .ivu-btn-default:active,
    .ivu-btn-dashed.active,
    .ivu-btn-dashed:active {
        border-color: $primary-red;
        color: $primary-red;
        box-shadow: 0 0 2px $primary-red;
    }

    .ivu-btn-primary {
        background-color: $primary-red;
        border-color: $primary-red;

        &:hover {
            background-color: $lightPrimary-red;
            border-color: $lightPrimary-red;
        }
    }

    .ivu-btn-primary.active,
    .ivu-btn-primary:active {
        background-color: $primary-red;
        border-color: $primary-red;
        box-shadow: 0 0 2px $primary-red;
    }

    .ivu-btn-text:hover {
        color: $lightPrimary-red;
    }

    .ivu-btn-text.active,
    .ivu-btn-text:active {
        color: $primary-red;
    }

    // 修改checkbox默认样式
    .ivu-checkbox-checked {
        .ivu-checkbox-inner {
            border-color: $primary-red;
            background-color: $primary-red;
        }
    }

    // 修改table的默认样式
    .ivu-table {
        th {
            background-color: $primary-red;
            color: white;

            .ivu-table-sort {
                i.on {
                    color: $success;
                }
            }

            .ivu-table-filter {
                i.on {
                    color: $success;
                }
            }
        }
    }

    // 修改page的默认样式
    .ivu-page {
        .ivu-page-item {
            &:hover {
                border-color: $primary-red;
            }
        }

        .ivu-page-item-jump-next {
            a {
                color: $primary-red;
            }
        }
    }

    // 修改tree的默认样式
    .ivu-tree {

        .ivu-tree-title:hover {
            background-color: rgba($color: $lightPrimary-red, $alpha: .3);
        }

        .ivu-tree-title-selected,
        .ivu-tree-title-selected:hover {
            background-color: rgba($color: $lightPrimary-red, $alpha: .3);
        }
    }

    // 修改switch的默认样式
    .ivu-switch {
        .ivu-switch-checked {
            border-color: $primary-red;
            background-color: $primary-red;
        }
    }

    // 修改tabs的默认样式
    .ivu-tabs {
        .ivu-tabs-nav {
            .ivu-tabs-tab:hover {
                color: $lightPrimary-red;
            }

            .ivu-tabs-tab-active {
                color: $primary-red;
            }

            .ivu-tabs-ink-bar {
                background-color: $primary-red;
            }
        }
    }

    // -------------------修改ViewUI组件默认样式 end---------------//

    // 顶部进度条颜色
    #nprogress .bar {
        background: $primary-red !important;
    }
}